# === CREDENZIALI E SEGRETI ===
.gcp/
.env
*.json

# === DATI METEO ===
grib_data/
build.env

# === OUTPUT ===
[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]/
*/**/*.json

# === CACHE PYTHON ===
__pycache__/
*.pyc
*.pyo

# === SISTEMA ===
.DS_Store
